@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Montserrat", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo{
    display: flex;
    justify-content: center;
}

#logo{
    width: 72px;
    height: auto;
    margin: auto;

}

nav{
    width: 774px;
    height: 36px;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li{
    padding: 8px 24px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: medium;
    line-height: 100%;
    color: #545465;
    transition: .16s;
    cursor: pointer;

}

.li-contato{
    background-color: #033766;
    color: white;
}

li:hover{
    scale: 1.2;
    font-size: 20px;
}

main{
    width: 100%;
    margin: 0 auto;
    
}

.sec1{
    width: 100%;
    height: 316px;
    margin: 0 auto;
    padding-top: 120px;
    align-items: center;
    text-align: center;
    background-image: url("Imagens/Modo_de_isolamento.svg");
    background-position: right;
    background-repeat: no-repeat;
    
}



.conteudosec1{
    width: 790px;
    height: 316px;
    margin: 0 auto;
}

.h1sec1{
    height: 110px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 48px;
    line-height: 114.99999999999999%;
    color: #033766;
}

.psec1{
    width: 753px;
    height: 81px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    

}

@media(min-width: 1280px){
    header{
        width: 1280px;
        margin: 0 auto;
        
    }
}