@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Montserrat", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */

body{
    margin: 0 auto;
}

header{
    width: 1216px;
    height: 99px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
}

.logo{
    display: flex;
    justify-content: center;
}

#logo{
    width: 72px;
    height: auto;
    margin: auto;

}

nav{
    width: 744px;
    height: 36px;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li{
    padding: 8px 24px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: medium;
    line-height: 100%;
    color: #545465;
    transition: .2s;
    cursor: pointer;

}

.li-contato{
    background-color: #033766;
    color: white;
    transition: .16s;
    cursor: pointer;
}

li:hover{
    color: #C1914B;
}

.li-contato:hover{
    background-color: #C1914B;
    color: white;
    
}

main{
    width: 1216px;
    margin: 0 auto;
    background-image: url("Imagens/Modo_de_isolamento.svg");
    background-position: 156% 130%;
    background-repeat: no-repeat;
    border-top: solid 1px #D9D9D9;
    
}

.sec1{
    width: 790px;
    height: 316px;
    margin: 0 auto;
    padding-top: 120px;
    align-items: center;
    text-align: center;
    padding-bottom: 120px; 
}



.conteudosec1{
    width: 790px;
    height: 316px;
    margin: 0 auto;
}

.h1sec1{
    height: 110px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 48px;
    line-height: 114.99999999999999%;
    color: #033766;
}

.psec1{
    width: 753px;
    height: 81px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    padding-top: 32px;
    padding-bottom: 40px
    

}

.buttonsec1{
    width: 240px;
    height: 53px;
    gap: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    list-style: 114.99999999999999%;
    color: #C1914B;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #C1914B;
    transition: .16s;
    cursor: pointer;
    
}

.buttonsec1:hover{
    background-color: #C1914B;
    color: white;
}

.sec2{
    width: 1280px;
    height: 630px;
    margin: 0 auto;
    background-image: url("Imagens/section2.png");
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 120px;
}

.sec3{
    width: 800px;
    height: 261px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 120px;
}

.h2sec3{
    width: 800px;
    height: 23px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #C1914B;
    line-height: 115%;
    letter-spacing: 24%;
}

.h1sec3{
    width: 699px;
    height: 102px;
    font-family: "Montserrat", sans-serif;
    font-size: 44px;
    font-weight: bold;
    color: #033766;
    line-height: 115%;
    
}

.psec3{
    width: 800px;
    height: 72px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #545465;
    line-height: 150%;
}





@media(min-width: 1280px){
    header{
        width: 1216px;
        margin: 0 auto;
        
    }

    main{
        width: 1280px;
        background-position: 142% 132%;
    }


    .sec1{
        width: 790px;
        height: 316px;
        margin: 0 auto;
        padding-top: 120px;
        align-items: center;
        text-align: center;
    }

    .sec2{
        width: 1280px;
        height: 630px;
        margin: 0 auto;
        background-image: url("Imagens/section2.png");
        background-position: 50% 50%;
        background-size: cover;
        margin-bottom: 120px;
    }

    .psec4{
        padding: 0 16px 0 16px;
    }


}

@media(min-width: 1440px){
    header{
        width: 1216px;
        margin: 0 auto;
        
    }

    main{
        width: 1440px;
        background-position: 128% 132%;
    }

    .sec1{
        width: 790px;
        height: 316px;
        margin: 0 auto;
        padding-top: 120px;
        align-items: center;
        text-align: center;
    }

    .sec2{
        width: 1280px;
        height: 630px;
        margin: 0 auto;
        margin-bottom: 120px;
    }

    .psec4{
        padding: 0 30px 0 30px;
    }
}

@media(min-width: 1920px){
    header{
        width: 1216px;
        margin: 0 auto;
        
    }

    main{
        width: 1920px;
        background-position: 100% 130%;
    }

   
    .sec1{
        width: 790px;
        height: 316px;
        margin: 0 auto;
        padding-top: 120px;
        align-items: center;
        text-align: center;
    }

    .sec2{
        width: 1440px;
        height: 630px;
        margin: 0 auto;
        background-image: url("Imagens/section2.png");
        background-position: 50% 50%;
        background-size: cover;
        border-radius: 16px;
        margin-bottom: 120px;
    }
}